@import url(http://fonts.googleapis.com/css?family=Roboto:700,400,500,300);
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Space mono', sans-serif;
    background-color: #1B1B1D;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #242526;    
    align-items: center;
    padding: 20px 30px 20px 30px;
    box-shadow: 0 1px 2px -2px #ddd;
}

.navTitle {
    margin-right: auto;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.navLinks {
    padding: 0 20px;
    display: flex;
}

.navLinks a {
    font-size: 20px;
    padding: 20px 40px 20px 40px;
    color: black;
    text-decoration: none;
    color: white;
}

.burgerLinks {
    background-color: aliceblue;    
    padding: 0 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 2px -2px #ddd;
    background-color: #242526;
}

.burgerLinks a {
    font-size: 20px;
    padding: 20px 40px 20px 40px;
    color: white;
    text-decoration: none;
}

.hamburger {
    display: none;
}

.navLinks a:hover{
    color: #9F32B8;
}

.navTitle:hover {
    color: #9F32B8;
}

.hero {
    width: 100%;
    height: 600px;
    /* background-color: mediumpurple; */
    background: radial-gradient(circle at 10% 20%, rgb(134, 47, 199) 0%, rgb(235, 56, 137) 90%);
    /* background-image: url("./resources/images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hero h1 {
    padding: 20px 50px 20px 50px;
    text-align: center;

}

.hero p {
    padding: 0 50px 20px 50px;
    text-align: center;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials i {
    padding: 10px 20px 0 20px;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.project {
    margin: 15px;
    background-color: #242526;
    padding: 20px;
    flex: 500px;
    border-radius: 15px;
}

.project h3 {
    margin-bottom: 10px;
}

@media (max-width: 720px){

    .navbar {
        display: flex;
        padding-bottom: 10px;
    }

    .navRight {
        display: flex;
        flex-direction: column;
    }

    .hamburger {
        display: flex;
    }

    .navLinks {
        display: none;
        flex-direction: column;
        padding-top: 20px;
    }

    .project {
        margin-right: 60px;
        margin-left: 60px;
    }

    .hero {
        height: 300px;
    }

}